@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&family=Raleway:wght@500&display=swap');


#root{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.heading{
  font-family: poppins;
} 

  h1 {
    background:linear-gradient(to right, #ff7f50, #ffa07a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


.grid-main{
  display: grid;
  grid-template-columns: auto auto auto ;
  gap:15px;
  
}

.grid-child:hover{
  background-color: whitesmoke;
  color: #a67070;
}

.grid-child{
  border: 2px solid whitesmoke;
  border-color: hsla(36, 81%, 67%, 0.179);
  border-radius: 15px;
  padding: 10px;
  margin-top: 40px;
  cursor: pointer;
  background-color: rgba(55, 96, 103, 0.3);
}

.grid-child h3{
  font-family: poppins;
  font-weight:700 ;
}

.grid-child p{
  font-family: poppins;
  font-weight: 500;
  font-size: 15px;
}

.text-area{
  font-size: 20px;
  background-color: #242424;
  padding: 10px;
  font-family: poppins; 
  color: white;
}
.action-btn{
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}